body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: indigo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: rgb(4, 4, 4);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name {
    padding: 10px;
    border: 1px solid #ddd;
    width: 200px;
    margin-bottom: 10px;
}

button {
    background-color: #0a19e4;
    border: none;
    color: rgb(249, 245, 4);
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #4b45a0;
}
